body, div#mw-head{
	background: #303039 !important;
}

a{
	color: #00AAFF !important;
}

h1, span, p, dd, dt, div{
	color: #FFF !important;
}

div.mw-body{
	background: #36393C !important;
}

td{
	background: #40444B !important;
	color: #FFF !important;
}

h2, div.plainlinks, div.catlinks, div#mp-topbanner, div#mp-lower{
	color: #FFF !important;
	background: #303338 !important;
	border-color: #4C5159 !important;
}

h2#mw-toc-heading{
	background: none !important;
}

table, div.toc, div.quotebox{
	background: #4E5359 !important;
	color: #FFF !important;
}

th{
	background: #303338 !important;
}

li{
	color: #FFF !important;
}

img{
	background: #FFFFFF2a !important;
}

input{
	background: #40444B !important;
	color: #FFFFFF !important;
}

div#left-navigation > nav > div > ul > li.selected.mw-list-item, div#right-navigation > nav > div > ul > li.selected.mw-list-item{
	background: #36393C !important;
}

div#left-navigation > nav > div > ul > li.mw-list-item, div#right-navigation > nav > div > ul > li.mw-list-item{
	background: #4E5359 !important;
}

div.mwe-popups-container{
	background: #4E5359 !important;
}

a.mwe-popups-extract::after{
	background-image: linear-gradient(to right, #4E535900, #4E5359 50%) !important;
}

span{
	background: none !important;
}

div.thumb.tright > div.thumbinner, div.thumb.tleft > div.thumbinner{
	background: #333 !important;
}

div.thumbcaption{
	color: #FFF !important;
}

div.suggestions-results, div.special-query, div.special-label, div.suggestions-special{
	background: #808080 !important;
}

div.special-label{
	color: #DDD !important;
}
